.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#notifier {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons, button {
    display: flex;
    flex-direction: row;
    color: red;
    background-color: grey;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

button {
    width: 100px;
}