

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#notifier {
    display: flex;
    align-items: center;
    justify-content: center;
}

#computer-score, #player-score {
    align-items: center;
    justify-content: center;
    background-color: grey;
    display: flex;
    font-size: 16px;
}

#round-counter {
    font-size: 32px;
    justify-content: center;
    display: flex;
}

.buttons, button {
    display: flex;
    flex-direction: row;
    color: red;
    background-color: grey;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

button {
    width: 100px;
}

.buttons {
    margin-top: 40px;
}